body{
    background-color:floralwhite;
    width: auto;
    padding: 0px;
    margin: 0PX;
    height: fit-content;
    width: fit-content;
}
.Content { 
    background-color: aquamarine;
    width: auto;
    padding: 0px;
    margin: 0px;
    height: fit-content;
}
.Mail{
    border-right: 100px;
    background-color: black;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: auto;
    min-width: 250px;
    max-width: 500px;
    height: 900px;
    
}
.Name{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    background-color: aqua;
    width: auto;
    min-width: 250px;
    max-width: 500px;
    height: 900px;
}